<div *ngIf="product.title" class="card" style="width: 18rem;">
    <img [src]="product.imageurl" class="card-img-top" *ngIf = "product.imageurl">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text"> {{ product.price | currency:'INR': true }}</p>
    </div>
    <div *ngIf="showActions && cart" class="card-footer">
      <button *ngIf = "cart.getQuantity(product) === 0;else update"
      (click) = "addToCart()"
      class="btn btn-primary btn-block">Add to cart</button>
    </div>
    <ng-template #update>
      <app-product-quantity [product]="product" [shopping-cart]="cart">
      </app-product-quantity>
    </ng-template>
</div>